h1,h2,h3,h4,h5,body {
    font-family: 'Montserrat', 'Work Sans', Segoe UI, sans-serif;
}

body {
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    font-size: 14px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
.porel { position: relative;}
.poabs { position: absolute;}
table tbody>tr>td { vertical-align: middle !important;}
table .frow { display: inline-block;}
table .frow img { border: 1px solid #ccc;height: 50px;width: 50px;background:#ccc;}
span.frow.title{ position: absolute;left: 80px;top: 10px;width: 100px;}
table .frow.title .user { display: block;}
.L{ color: #E85B50;}
.W{ color: #32BE6E;}
.trend { color: #999;}
table .medal {top: 7px;left: -11px;}
table .cup {top: 13px;left: 180px;display: none;}
.navbar-inverse {
    background-color: #796e66;
    border-color: #796e66;
}
a{ color: #1D8CC6;}
html,body { background: #e4e2e3;}
.body-content { background: #fff;padding: 10px 20px;radius-border: 2px;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { color: #fff;font-size: 12px;}

.profile {}
.profile .head {}
.profile .head .name, .profile .head .pic { width: 100%;display: block;}
.profile .head .name { font-size: 14px;font-weight: bold;}
.profile .head .pic { text-align:center;padding-bottom: 10px;}
.profile .head .pic img { height: 50px;width: 50px;}
.profile .head .stat { display: inline-block;width: 49%;}
.profile .head .stat .item { margin-left: 10px;color: #999;}
.profile .head .stat .item .number { color: #000;}

.profile .content1 { border-top: 1px solid rgba(0, 0, 0, 0.07);margin-top: 5px;padding-top: 15px;}
.profile .content1 .alert { margin-right: 10px;}

.box {border-radius: .25rem;border: 1px solid rgba(0,0,0,.125);padding: 15px;width: 24%;min-height: 150px;float: left;margin-right: 10px;text-align: center;}
.box .score, .box .fixture {text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.box .msg { margin-top: 25px;}
.results{ clear: both;padding-top: 25px;}
.img-bigger { height: 75px !important;width: 75px !important;}