h1,h2,h3,h4,body {
    font-family: 'Work Sans', 'Montserrat', Segoe UI, sans-serif;
}

body {
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    font-size: 16px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
.porel { position: relative;}
.poabs { position: absolute;}
table tbody>tr>td { vertical-align: middle !important;}
table .frow { display: inline-block;}
table .frow img { border: 1px solid #ccc;}
span.frow.title{ position: absolute;left: 80px;top: 10px;width: 100px;}
table .frow.title .user { display: block;}
table .frow.title .trend .L{ color: #E85B50;}
table .frow.title .trend .W{ color: #32BE6E;}
table .frow.title .trend { color: #ddd;}
table .medal {top: 7px;left: -11px;}
table .cup {top: 13px;left: 180px;display: none;}
.navbar-inverse {
    background-color: #1D8CC6;
    border-color: #1A84BC;
    border-bottom: 2px;
}
a{ color: #1D8CC6;}
html,body { background: #DBE1E4;}
.body-content { background: #fff;padding: 10px 20px;border-radius: 2px;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { color: #fff;}